/*
Copyright 2022 Adobe
All Rights Reserved.

NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it.
*/
#topic-container .cmp-dita-topic-content {
  line-height: 1.5em;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  counter-reset: fn
}

#topic-container .cmp-dita-topic-content .tcx-hide {
  display: none !important
}

#topic-container .cmp-dita-topic-content a,
#topic-container .cmp-dita-topic-content abbr,
#topic-container .cmp-dita-topic-content article,
#topic-container .cmp-dita-topic-content aside,
#topic-container .cmp-dita-topic-content audio,
#topic-container .cmp-dita-topic-content b,
#topic-container .cmp-dita-topic-content big,
#topic-container .cmp-dita-topic-content blockquote,
#topic-container .cmp-dita-topic-content canvas,
#topic-container .cmp-dita-topic-content caption,
#topic-container .cmp-dita-topic-content center,
#topic-container .cmp-dita-topic-content cite,
#topic-container .cmp-dita-topic-content code,
#topic-container .cmp-dita-topic-content dd,
#topic-container .cmp-dita-topic-content del,
#topic-container .cmp-dita-topic-content details,
#topic-container .cmp-dita-topic-content dfn,
#topic-container .cmp-dita-topic-content div,
#topic-container .cmp-dita-topic-content dl,
#topic-container .cmp-dita-topic-content dt,
#topic-container .cmp-dita-topic-content em,
#topic-container .cmp-dita-topic-content embed,
#topic-container .cmp-dita-topic-content fieldset,
#topic-container .cmp-dita-topic-content figcaption,
#topic-container .cmp-dita-topic-content figure,
#topic-container .cmp-dita-topic-content footer,
#topic-container .cmp-dita-topic-content form,
#topic-container .cmp-dita-topic-content h1,
#topic-container .cmp-dita-topic-content h2,
#topic-container .cmp-dita-topic-content h3,
#topic-container .cmp-dita-topic-content h4,
#topic-container .cmp-dita-topic-content h5,
#topic-container .cmp-dita-topic-content h6,
#topic-container .cmp-dita-topic-content header,
#topic-container .cmp-dita-topic-content hgroup,
#topic-container .cmp-dita-topic-content html,
#topic-container .cmp-dita-topic-content i,
#topic-container .cmp-dita-topic-content iframe,
#topic-container .cmp-dita-topic-content img,
#topic-container .cmp-dita-topic-content ins,
#topic-container .cmp-dita-topic-content kbd,
#topic-container .cmp-dita-topic-content label,
#topic-container .cmp-dita-topic-content legend,
#topic-container .cmp-dita-topic-content li,
#topic-container .cmp-dita-topic-content mark,
#topic-container .cmp-dita-topic-content menu,
#topic-container .cmp-dita-topic-content nav,
#topic-container .cmp-dita-topic-content object,
#topic-container .cmp-dita-topic-content ol,
#topic-container .cmp-dita-topic-content output,
#topic-container .cmp-dita-topic-content p,
#topic-container .cmp-dita-topic-content pre,
#topic-container .cmp-dita-topic-content q,
#topic-container .cmp-dita-topic-content ruby,
#topic-container .cmp-dita-topic-content s,
#topic-container .cmp-dita-topic-content samp,
#topic-container .cmp-dita-topic-content section,
#topic-container .cmp-dita-topic-content small,
#topic-container .cmp-dita-topic-content span,
#topic-container .cmp-dita-topic-content strike,
#topic-container .cmp-dita-topic-content strong,
#topic-container .cmp-dita-topic-content sub,
#topic-container .cmp-dita-topic-content summary,
#topic-container .cmp-dita-topic-content sup,
#topic-container .cmp-dita-topic-content table,
#topic-container .cmp-dita-topic-content tbody,
#topic-container .cmp-dita-topic-content td,
#topic-container .cmp-dita-topic-content tfoot,
#topic-container .cmp-dita-topic-content th,
#topic-container .cmp-dita-topic-content thead,
#topic-container .cmp-dita-topic-content time,
#topic-container .cmp-dita-topic-content tr,
#topic-container .cmp-dita-topic-content tt,
#topic-container .cmp-dita-topic-content u,
#topic-container .cmp-dita-topic-content ul,
#topic-container .cmp-dita-topic-content var,
#topic-container .cmp-dita-topic-content video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box
}

#topic-container .cmp-dita-topic-content article,
#topic-container .cmp-dita-topic-content aside,
#topic-container .cmp-dita-topic-content details,
#topic-container .cmp-dita-topic-content figcaption,
#topic-container .cmp-dita-topic-content figure,
#topic-container .cmp-dita-topic-content footer,
#topic-container .cmp-dita-topic-content header,
#topic-container .cmp-dita-topic-content hgroup,
#topic-container .cmp-dita-topic-content menu,
#topic-container .cmp-dita-topic-content nav,
#topic-container .cmp-dita-topic-content section {
  display: block
}

#topic-container .cmp-dita-topic-content ol,
#topic-container .cmp-dita-topic-content ul {
  list-style: none
}

#topic-container .cmp-dita-topic-content blockquote,
#topic-container .cmp-dita-topic-content q {
  quotes: none
}

#topic-container .cmp-dita-topic-content blockquote:after,
#topic-container .cmp-dita-topic-content blockquote:before,
#topic-container .cmp-dita-topic-content q:after,
#topic-container .cmp-dita-topic-content q:before {
  content: '';
  content: none
}

#topic-container .cmp-dita-topic-content table {
  border-collapse: collapse;
  border-spacing: 0
}

#topic-container .cmp-dita-topic-content a {
  color: #0074D9;
  text-decoration: none;
  cursor: pointer
}

#topic-container .cmp-dita-topic-content a:hover {
  text-decoration: underline
}

#topic-container .cmp-dita-topic-content i,
#topic-container .cmp-dita-topic-content .i {
  font-style: italic
}

#topic-container .cmp-dita-topic-content b,
#topic-container .cmp-dita-topic-content .b {
  font-weight: bold
}

#topic-container .cmp-dita-topic-content .linethrough {
  text-decoration: line-through
}

#topic-container .cmp-dita-topic-content sup,
#topic-container .cmp-dita-topic-content .sup {
  vertical-align: super
}

#topic-container .cmp-dita-topic-content sub,
#topic-container .cmp-dita-topic-content .sub {
  vertical-align: sub
}

#topic-container .cmp-dita-topic-content .tt {
  font-family: monospace
}

#topic-container .cmp-dita-topic-content .u {
  text-decoration: underline
}

#topic-container .cmp-dita-topic-content .overline {
  text-decoration: overline
}

#topic-container .cmp-dita-topic-content .tm {
  font-size: 1em
}

#topic-container .cmp-dita-topic-content .tm::after {
  content: '\2122'
}

#topic-container .cmp-dita-topic-content blockquote {
  background: #fff;
  padding: 1em;
  font-style: italic;
  line-height: 1.5em;
  border-left: 4px solid #eee
}

#topic-container .cmp-dita-topic-content blockquote::before {
  content: "\""
}

#topic-container .cmp-dita-topic-content blockquote::after {
  content: "\""
}

#topic-container .cmp-dita-topic-content .foundation-layout-panel-content {
  overflow: hidden
}

#topic-container .cmp-dita-topic-content ul,
#topic-container .cmp-dita-topic-content ol {
  margin-top: 0.5em;
  padding-bottom: 0em
}

#topic-container .cmp-dita-topic-content li {
  margin-left: 1.4em;
  margin-bottom: 0.8em;
  padding-left: 0.3em
}

#topic-container .cmp-dita-topic-content .tutorialinfo>ul>li:last-child,
#topic-container .cmp-dita-topic-content .tutorialinfo>ol>li:last-child {
  margin-bottom: 0
}

#topic-container .cmp-dita-topic-content ul {
  list-style-type: disc
}

#topic-container .cmp-dita-topic-content ol {
  list-style-type: decimal
}

#topic-container .cmp-dita-topic-content ol ul {
  list-style-type: disc
}

#topic-container .cmp-dita-topic-content ul ul {
  list-style-type: circle
}

#topic-container .cmp-dita-topic-content ul ol,
#topic-container .cmp-dita-topic-content ol ol {
  list-style-type: lower-alpha
}

#topic-container .cmp-dita-topic-content ol ol ol {
  list-style-type: lower-roman
}

#topic-container .cmp-dita-topic-content .dl {
  margin-bottom: 1em
}

#topic-container .cmp-dita-topic-content .dt {
  font-weight: bold
}

#topic-container .cmp-dita-topic-content .dd {
  margin-bottom: 1em
}

#topic-container .cmp-dita-topic-content .dthd,
#topic-container .cmp-dita-topic-content .ddhd {
  font-weight: bold
}

#topic-container .cmp-dita-topic-content .section {
  margin-bottom: 1em
}

#topic-container .cmp-dita-topic-content div.p {
  margin-bottom: 1em
}

#topic-container .cmp-dita-topic-content .p:last-child {
  margin-bottom: 0
}

#topic-container .cmp-dita-topic-content .title {
  font-size: 2em;
  line-height: 1.2em;
  font-weight: normal;
  margin-top: 0.2em;
  margin-bottom: 0.8em
}

#topic-container .cmp-dita-topic-content .section>.title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em
}

#topic-container .cmp-dita-topic-content .example>.title {
  font-size: 14px;
  font-weight: bold;
  padding-top: 0.5em;
  margin-bottom: 0.5em
}

#topic-container .cmp-dita-topic-content .fig .title,
#topic-container .cmp-dita-topic-content .table .title {
  font-size: 14px;
  font-style: italic;
  color: #666;
  margin-top: 0;
  margin-bottom: 0
}

#topic-container .cmp-dita-topic-content .table .title {
  margin-bottom: 0.5em
}

#topic-container .cmp-dita-topic-content .shortdesc {
  font-size: 1.2em;
  color: #666;
  line-height: 1.5em;
  font-weight: 100;
  padding: 1em 0;
  margin-bottom: 0.5em;
  padding-top: 0
}

#topic-container .cmp-dita-topic-content .note {
  background: #eee;
  padding: 18px 24px;
  border-left: 4px solid #ddd;
  margin-bottom: 1em;
  font-size: 14px
}

#topic-container .cmp-dita-topic-content .tutorialinfo .note {
  margin-bottom: 0.3em
}

#topic-container .cmp-dita-topic-content .note.caution::before {
  color: #b18f39
}

#topic-container .cmp-dita-topic-content .note.caution {
  background-color: #fff9e5;
  border-left-color: #f5c823
}

#topic-container .cmp-dita-topic-content .note.danger::before {
  color: #ff2f27
}

#topic-container .cmp-dita-topic-content .note.danger {
  background-color: #fff0f0;
  border-left-color: #ffd7d6
}

#topic-container .cmp-dita-topic-content .note.warning::before {
  color: #ff8222
}

#topic-container .cmp-dita-topic-content .note.warning {
  background-color: #ffeddf;
  border-left-color: #ffb47b
}

#topic-container .cmp-dita-topic-content .note.notice::before {
  color: #0f64cd
}

#topic-container .cmp-dita-topic-content .note.notice {
  background-color: #f6f9fc;
  border-left-color: #e4edf6
}

#topic-container .cmp-dita-topic-content .note .ul,
#topic-container .cmp-dita-topic-content .note .ol {
  margin-left: 0
}

#topic-container .cmp-dita-topic-content table {
  margin-bottom: 1em;
  border: 1px solid #eee;
  width: 100%;
  margin-top: 0.5em
}

#topic-container .cmp-dita-topic-content .tgroup,
#topic-container .cmp-dita-topic-content .choicetable,
#topic-container .cmp-dita-topic-content .simpletable {
  table-layout: fixed;
  word-break: break-all;
  word-break: break-word
}

#topic-container .cmp-dita-topic-content .table+.table {
  margin-top: 2em
}

#topic-container .cmp-dita-topic-content .thead .entry,
#topic-container .cmp-dita-topic-content .sthead .stentry,
#topic-container .cmp-dita-topic-content .table.firstcol .entry:first-child {
  font-size: 12px;
  text-align: left;
  background: #fafafa;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  color: #888;
  line-height: 14px;
  padding: 0.5em 1em
}

#topic-container .cmp-dita-topic-content .strow {
  vertical-align: top
}

#topic-container .cmp-dita-topic-content .colsep .entry,
#topic-container .cmp-dita-topic-content .simpletable .stentry,
#topic-container .cmp-dita-topic-content .colsep .thead .entry,
#topic-container .cmp-dita-topic-content .simpletable .sthead .stentry {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee
}

#topic-container .cmp-dita-topic-content .rowsep .row,
#topic-container .cmp-dita-topic-content .row.rowsep,
#topic-container .cmp-dita-topic-content .simpletable .strow {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee
}

#topic-container .cmp-dita-topic-content .row.top,
#topic-container .cmp-dita-topic-content .tbody.top {
  vertical-align: top
}

#topic-container .cmp-dita-topic-content .row.bottom,
#topic-container .cmp-dita-topic-content .tbody.bottom {
  vertical-align: bottom
}

#topic-container .cmp-dita-topic-content .row.middle,
#topic-container .cmp-dita-topic-content .tbody.middle {
  vertical-align: middle
}

#topic-container .cmp-dita-topic-content .stentry {
  padding: 0.5em 1em
}

#topic-container .cmp-dita-topic-content .entry {
  padding: 0.5em 1em;
  vertical-align: top
}

#topic-container .cmp-dita-topic-content .li.stepsection {
  display: block;
  margin-left: -0.3em
}

#topic-container .cmp-dita-topic-content .stepresult {
  margin-bottom: 0.5em
}

#topic-container .cmp-dita-topic-content .result {
  padding: 1em 0;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em
}

#topic-container .cmp-dita-topic-content .postreq {
  padding: 0 0 1em 0
}

#topic-container .cmp-dita-topic-content img,
#topic-container .cmp-dita-topic-content .image {
  max-width: 100%
}

#topic-container .cmp-dita-topic-content .fig {
  padding: 5px;
  border: none;
  display: block;
  vertical-align: top;
  text-align: center
}

#topic-container .cmp-dita-topic-content .fig.left {
  text-align: left
}

#topic-container .cmp-dita-topic-content .fig.right {
  text-align: right
}

#topic-container .cmp-dita-topic-content .image.scalefit {
  width: 100%
}

#topic-container .cmp-dita-topic-content .uicontrol {
  font-weight: bold
}

#topic-container .cmp-dita-topic-content .menucascade .uicontrol+.uicontrol:before {
  content: "\00a0\203a\00a0"
}

#topic-container .cmp-dita-topic-content .userinput {
  font-family: monospace
}

#topic-container .cmp-dita-topic-content .filepath,
#topic-container .cmp-dita-topic-content .term {
  font-style: italic
}

#topic-container .cmp-dita-topic-content .xmlatt,
#topic-container .cmp-dita-topic-content .xmlelement {
  font-weight: bold
}

#topic-container .cmp-dita-topic-content .state,
#topic-container .cmp-dita-topic-content .boolean {
  font-style: italic
}

#topic-container .cmp-dita-topic-content .codeblock {
  background: #f5f5f5;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px 16px;
  margin-bottom: 0.8em;
  font-family: monospace;
  white-space: normal;
  word-break: break-word;
  word-break: break-all
}

#topic-container .cmp-dita-topic-content .footnotes {
  margin: 0 -30px;
  margin-top: 4em;
  padding: 18px 45px;
  padding-bottom: 0px;
  color: #777;
  font-size: 12px;
  list-style-position: outside;
  border-top: 1px solid #eee
}

#topic-container .cmp-dita-topic-content .footnotes .fn {
  max-width: 600px
}

#topic-container .cmp-dita-topic-content .relatedlinks {
  margin-top: 2em
}

#topic-container .cmp-dita-topic-content .relatedlinks .link {
  display: block;
  margin-bottom: 0.2em
}

#topic-container .cmp-dita-topic-content .link>.desc {
  display: none
}

#topic-container .cmp-dita-topic-content .relatedlinks::before {
  display: block;
  padding-bottom: 0.5em;
  font-weight: bold;
  margin-bottom: 0em;
  font-size: 16px
}

#topic-container .cmp-dita-topic-content .li>.info,
#topic-container .cmp-dita-topic-content .li>.tutorialinfo {
  padding-bottom: 0;
  margin-bottom: 0
}

#topic-container .cmp-dita-topic-content .info,
#topic-container .cmp-dita-topic-content .tutorialinfo,
#topic-container .cmp-dita-topic-content .li:last-child>.info,
#topic-container .cmp-dita-topic-content .li>.tutorialinfo {
  padding: 0.5em 0;
  margin-bottom: 0.5em
}

#topic-container .cmp-dita-topic-content .note::before,
#topic-container .cmp-dita-topic-content .info::before,
#topic-container .cmp-dita-topic-content .tutorialinfo::before,
#topic-container .cmp-dita-topic-content .stepresult::before,
#topic-container .cmp-dita-topic-content .result::before,
#topic-container .cmp-dita-topic-content .postreq::before,
#topic-container .cmp-dita-topic-content .prereq::before {
  display: block;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #999
}

#topic-container .cmp-dita-topic-content .note::before,
#topic-container .cmp-dita-topic-content .note.caution::before,
#topic-container .cmp-dita-topic-content .note.danger::before,
#topic-container .cmp-dita-topic-content .note.warning::before,
#topic-container .cmp-dita-topic-content .note.notice::before,
#topic-container .cmp-dita-topic-content .note.attention:before,
#topic-container .cmp-dita-topic-content .note.fastpath:before,
#topic-container .cmp-dita-topic-content .note.important:before,
#topic-container .cmp-dita-topic-content .note.remember:before,
#topic-container .cmp-dita-topic-content .note.restriction:before,
#topic-container .cmp-dita-topic-content .note.tip:before,
#topic-container .cmp-dita-topic-content .note.other:before,
#topic-container .cmp-dita-topic-content .fig .title::before,
#topic-container .cmp-dita-topic-content .relatedlinks::before,
#topic-container .cmp-dita-topic-content .result::before,
#topic-container .cmp-dita-topic-content .postreq::before,
#topic-container .cmp-dita-topic-content .prereq::before,
#topic-container .cmp-dita-topic-content .info::before,
#topic-container .cmp-dita-topic-content .table .title::before,
#topic-container .cmp-dita-topic-content .stepresult::before,
#topic-container .cmp-dita-topic-content .tutorialinfo::before {
  content: attr(data-label)
}

#topic-container .cmp-dita-topic-content .footnotes {
  list-style: none
}

#topic-container .cmp-dita-topic-content .related-links {
  margin-top: 2em
}

#topic-container .cmp-dita-topic-content .related-links .link {
  margin-bottom: 0.2em
}

#topic-container .cmp-dita-topic-content .booktitlealt {
  font-size: 14px
}

#topic-container .cmp-dita-topic-content .tgroup,
#topic-container .cmp-dita-topic-content .simpletable {
  text-align: start
}

#topic-container .cmp-dita-topic-content .varname {
  font-style: italic
}

#topic-container .cmp-dita-topic-content .cmdname {
  font-weight: bold
}

#topic-container .cmp-dita-topic-content .line-through {
  text-decoration: line-through
}

#topic-container .cmp-dita-topic-content .draft-comment {
  background-color: #FFDC00;
  margin-bottom: 0.5rem
}

#topic-container .cmp-dita-topic-content video {
  max-height: 100%;
  max-width: 100%
}

#topic-container .cmp-dita-topic-content .xref {
  color: #0074D9;
  text-decoration: none
}

#topic-container .cmp-dita-topic-content .equation-block,
#topic-container .cmp-dita-topic-content .mathml,
#topic-container .cmp-dita-topic-content .svg-container {
  display: inline-block
}

#topic-container .cmp-dita-topic-content .missing-rendition {
  padding: 1px;
  height: 1.3rem;
  width: 1.3rem
}

#topic-container .cmp-dita-topic-content .placement-inline {
  display: inline
}

#topic-container .cmp-dita-topic-content .placement-break {
  display: block
}

#topic-container .cmp-dita-topic-content .copyright:before,
#topic-container .cmp-dita-topic-content .critdates:before,
#topic-container .cmp-dita-topic-content .metadata:before,
#topic-container .cmp-dita-topic-content .prodinfo:before,
#topic-container .cmp-dita-topic-content .data-about:before,
#topic-container .cmp-dita-topic-content .vrmlist:before {
  margin-left: -1rem
}

#topic-container .cmp-dita-topic-content .copyright,
#topic-container .cmp-dita-topic-content .critdates,
#topic-container .cmp-dita-topic-content .metadata,
#topic-container .cmp-dita-topic-content .prodinfo,
#topic-container .cmp-dita-topic-content .data-about,
#topic-container .cmp-dita-topic-content .vrmlist {
  padding: 0.625rem 1rem
}

#topic-container .cmp-dita-topic-content .codeph {
  background: #f5f5f5;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 0.2rem 0.1rem;
  font-family: monospace;
  white-space: normal;
  word-break: break-word;
  word-break: break-all
}

#topic-container .cmp-dita-topic-content .codeblock,
#topic-container .cmp-dita-topic-content .pre,
#topic-container .cmp-dita-topic-content .prolog,
#topic-container .cmp-dita-topic-content .topicmeta,
#topic-container .cmp-dita-topic-content .foreign {
  background: #f5f5f5;
  font-family: monospace
}

#topic-container .cmp-dita-topic-content .codeblock:not(.collapsed-tag):not(.svg-container),
#topic-container .cmp-dita-topic-content .codeblock:not(.collapsible-tags):not(.svg-container),
#topic-container .cmp-dita-topic-content .pre:not(.collapsed-tag):not(.svg-container),
#topic-container .cmp-dita-topic-content .pre:not(.collapsible-tags):not(.svg-container),
#topic-container .cmp-dita-topic-content .prolog:not(.collapsed-tag):not(.svg-container),
#topic-container .cmp-dita-topic-content .prolog:not(.collapsible-tags):not(.svg-container),
#topic-container .cmp-dita-topic-content .topicmeta:not(.collapsed-tag):not(.svg-container),
#topic-container .cmp-dita-topic-content .topicmeta:not(.collapsible-tags):not(.svg-container),
#topic-container .cmp-dita-topic-content .foreign:not(.collapsed-tag):not(.svg-container),
#topic-container .cmp-dita-topic-content .foreign:not(.collapsible-tags):not(.svg-container) {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 0.625rem 1rem;
  margin-bottom: 0.8em;
  white-space: normal;
  word-break: break-word;
  word-break: break-all
}

#topic-container .cmp-dita-topic-content .codeblock .codeph,
#topic-container .cmp-dita-topic-content .pre .codeph,
#topic-container .cmp-dita-topic-content .prolog .codeph,
#topic-container .cmp-dita-topic-content .topicmeta .codeph,
#topic-container .cmp-dita-topic-content .foreign .codeph {
  border: none;
  padding: 0;
  margin: 0;
  border: 0
}

#topic-container .cmp-dita-topic-content .imagemap {
  padding: 0
}

#topic-container .cmp-dita-topic-content .imagemap .area {
  display: none
}

#topic-container .cmp-dita-topic-content li {
  margin-bottom: 0
}

#topic-container .cmp-dita-topic-content li:not(:last-child) {
  margin-bottom: 0.8em
}

#topic-container .cmp-dita-topic-content .align-left {
  text-align: left
}

#topic-container .cmp-dita-topic-content .align-right {
  display: flex;
  justify-content: right;
}

#topic-container .cmp-dita-topic-content .align-center {
  display: flex;
  justify-content: center;
}

#topic-container .cmp-dita-topic-content .align-justify {
  text-align: justify
}

#topic-container .cmp-dita-topic-content .valign-bottom {
  vertical-align: bottom
}

#topic-container .cmp-dita-topic-content .valign-middle {
  vertical-align: middle
}

#topic-container .cmp-dita-topic-content .valign-top {
  vertical-align: top
}

#topic-container .cmp-dita-topic-content .hide-conditions-content {
  display: none !important
}

#topic-container .cmp-dita-topic-content .auto-width {
  width: auto
}

#topic-container .cmp-dita-topic-content .comment-block {
  background-color: yellow
}

#topic-container .cmp-dita-topic-content .tgroup.too-many-columns,
#topic-container .cmp-dita-topic-content .choicetable.too-many-columns,
#topic-container .cmp-dita-topic-content .simpletable.too-many-columns,
#topic-container .cmp-dita-topic-content .reltable.too-many-columns {
  table-layout: auto;
  word-break: unset
}

#topic-container .cmp-dita-topic-content .booktitlealt {
  margin-left: 0.25rem
}

#topic-container .cmp-dita-topic-content .tm.tmtype-tm::after {
  content: '™'
}

#topic-container .cmp-dita-topic-content .tm.tmtype-reg::after {
  content: '®'
}

#topic-container .cmp-dita-topic-content .tm.tmtype-service::after {
  content: '℠'
}

#topic-container .cmp-dita-topic-content .dd,
#topic-container .cmp-dita-topic-content .ddhd {
  margin-left: 1.4em
}

#topic-container .cmp-dita-topic-content .display-flex {
  display: flex
}

#topic-container .cmp-dita-topic-content .display-flex-column {
  display: flex;
  flex-direction: column
}

#topic-container .cmp-dita-topic-content .display-inline-flex {
  display: inline-flex
}

#topic-container .cmp-dita-topic-content .display-inline {
  display: inline
}

#topic-container .cmp-dita-topic-content .display-block {
  display: block
}

#topic-container .cmp-dita-topic-content .display-inline-block {
  display: inline-block
}

#topic-container .cmp-dita-topic-content .flex-grow-full {
  flex-grow: 1
}

#topic-container .cmp-dita-topic-content .full-width {
  width: 100%
}

#topic-container .cmp-dita-topic-content .full-height {
  height: 100%
}

#topic-container .cmp-dita-topic-content .no-padding {
  padding: 0
}

#topic-container .cmp-dita-topic-content .separated-block {
  margin-bottom: 0.5rem
}

#topic-container .cmp-dita-topic-content .overflow-ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

#topic-container .cmp-dita-topic-content .note:before,
#topic-container .cmp-dita-topic-content .note.caution:before,
#topic-container .cmp-dita-topic-content .note.danger:before,
#topic-container .cmp-dita-topic-content .note.warning:before,
#topic-container .cmp-dita-topic-content .note.notice:before,
#topic-container .cmp-dita-topic-content .note.attention:before,
#topic-container .cmp-dita-topic-content .note.fastpath:before,
#topic-container .cmp-dita-topic-content .note.important:before,
#topic-container .cmp-dita-topic-content .note.remember:before,
#topic-container .cmp-dita-topic-content .note.restriction:before,
#topic-container .cmp-dita-topic-content .note.tip:before,
#topic-container .cmp-dita-topic-content .note.other:before,
#topic-container .cmp-dita-topic-content .fig .title:before,
#topic-container .cmp-dita-topic-content .footnotes:before,
#topic-container .cmp-dita-topic-content .relatedlinks:before,
#topic-container .cmp-dita-topic-content .result:before,
#topic-container .cmp-dita-topic-content .postreq:before,
#topic-container .cmp-dita-topic-content .prereq:before,
#topic-container .cmp-dita-topic-content .info:before,
#topic-container .cmp-dita-topic-content .stepresult:before,
#topic-container .cmp-dita-topic-content .tutorialinfo:before,
#topic-container .cmp-dita-topic-content .fn:before,
#topic-container .cmp-dita-topic-content .cmdname:before,
#topic-container .cmp-dita-topic-content .keyword:before,
#topic-container .cmp-dita-topic-content .kwd:before,
#topic-container .cmp-dita-topic-content .term:before,
#topic-container .cmp-dita-topic-content .ph:before,
#topic-container .cmp-dita-topic-content .topicref:before,
#topic-container .cmp-dita-topic-content .varname:before,
#topic-container .cmp-dita-topic-content .link:before,
#topic-container .cmp-dita-topic-content .xref:before,
#topic-container .cmp-dita-topic-content .longdescref:before,
#topic-container .cmp-dita-topic-content .author:before,
#topic-container .cmp-dita-topic-content .source:before,
#topic-container .cmp-dita-topic-content .publisher:before,
#topic-container .cmp-dita-topic-content .copyright:before,
#topic-container .cmp-dita-topic-content .copyrholder:before,
#topic-container .cmp-dita-topic-content .copyryear:before,
#topic-container .cmp-dita-topic-content .critdates:before,
#topic-container .cmp-dita-topic-content .created:before,
#topic-container .cmp-dita-topic-content .revised:before,
#topic-container .cmp-dita-topic-content .permissions:before,
#topic-container .cmp-dita-topic-content .keywords:before,
#topic-container .cmp-dita-topic-content .resourceid:before,
#topic-container .cmp-dita-topic-content .metadata:before,
#topic-container .cmp-dita-topic-content .relcolspec:before {
  content: attr(data-tcx-prefix)
}

#topic-container .cmp-dita-topic-content .prolog .audience:before,
#topic-container .cmp-dita-topic-content .prolog .category:before,
#topic-container .cmp-dita-topic-content .prolog .prodinfo:before,
#topic-container .cmp-dita-topic-content .prolog .prodname:before,
#topic-container .cmp-dita-topic-content .prolog .vrmlist:before,
#topic-container .cmp-dita-topic-content .prolog .vrm:before,
#topic-container .cmp-dita-topic-content .prolog .brand:before,
#topic-container .cmp-dita-topic-content .prolog .series:before,
#topic-container .cmp-dita-topic-content .prolog .component:before,
#topic-container .cmp-dita-topic-content .prolog .featnum:before,
#topic-container .cmp-dita-topic-content .prolog .platform:before,
#topic-container .cmp-dita-topic-content .prolog .prognum:before,
#topic-container .cmp-dita-topic-content .prolog .data:before,
#topic-container .cmp-dita-topic-content .prolog .data-about:before {
  content: attr(data-tcx-prefix)
}

#topic-container .cmp-dita-topic-content .xref.inserted-block.tcx-missing-url:after,
#topic-container .cmp-dita-topic-content .xref.deleted-block.tcx-missing-url:after,
#topic-container .cmp-dita-topic-content .link.inserted-block.tcx-missing-url:after,
#topic-container .cmp-dita-topic-content .link.deleted-block.tcx-missing-url:after,
#topic-container .cmp-dita-topic-content .longdescref.inserted-block.tcx-missing-url:after,
#topic-container .cmp-dita-topic-content .longdescref.deleted-block.tcx-missing-url:after,
#topic-container .cmp-dita-topic-content .term.inserted-block.tcx-missing-url:after,
#topic-container .cmp-dita-topic-content .term.deleted-block.tcx-missing-url:after {
  color: #FF4136
}

#topic-container .cmp-dita-topic-content .collapsible-tags:before {
  content: attr(data-tcx-prefix)
}

#topic-container .cmp-dita-topic-content .fn:before {
  color: #0074D9;
  vertical-align: super;
  font-size: smaller;
  display: inline-block
}

#topic-container .cmp-dita-topic-content .fn:not(.fn-callout):before {
  counter-increment: fn;
  content: counter(fn)
}

#topic-container .cmp-dita-topic-content .fn:before {
  margin-right: 0.2rem
}

#topic-container .cmp-dita-topic-content .page-footnotes-link sup {
  vertical-align: super;
  font-size: smaller
}

#topic-container .cmp-dita-topic-content .indexterm,
#topic-container .cmp-dita-topic-content .prolog {
  display: none
}

#topic-container .cmp-dita-topic-content .link {
  display: block
}

#topic-container .cmp-dita-topic-content .object {
  min-height: 10rem;
  min-width: 10rem
}

#topic-container .cmp-dita-topic-content audio.object {
  min-height: 2rem;
  min-width: 10rem
}