/*
Copyright 2022 Adobe
All Rights Reserved.

NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it.
*/

.cmp-search-bar__input:-webkit-autofill,
.cmp-search-bar__input:-webkit-autofill:hover,
.cmp-search-bar__input:-webkit-autofill:focus,
.cmp-search-bar__input:-webkit-autofill:active,
.cmp-askai__search-input:-webkit-autofill,
.cmp-askai__search-input:-webkit-autofill:hover,
.cmp-askai__search-input:-webkit-autofill:focus,
.cmp-askai__search-input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}
.cmp-search {}
.cmp-search__form {}
#topic-page .cmp-search__field,
#page-content .cmp-search__field,
#topic-page .cmp-search-bar__field,
#page-content .cmp-search-bar__field {
  border-radius: 2rem;
  @apply flex items-center;
  @apply focus-within:border-gray-600 focus-within:outline-none focus-within:ring-2;
}

#topic-page .cmp-search__icon,
#page-content .cmp-search__icon,
#topic-page .cmp-search-bar__icon,
#page-content .cmp-search-bar__icon,
#topic-page .cmp-search-bar__clear-icon,
#page-content .cmp-search-bar__clear-icon {
  @apply relative top-0 left-0;
  background-repeat: no-repeat
}

#topic-page .cmp-search__input,
#page-content .cmp-search__input,
#topic-page .cmp-search-bar__input,
#page-content .cmp-search-bar__input {
  @apply flex-1 overflow-hidden text-gray-800 rounded;
  @apply focus:outline-none;

  &::placeholder {
    @apply italic text-gray-500;
  }
}
#topic-page .cmp-search-bar__input,
#page-content .cmp-search-bar__input {
  background: transparent;
  -webkit-box-shadow: inset 0 0 0 9999px transparent;
  border-radius: 2rem;
}
.cmp-search__loading-indicator {}
.cmp-search__clear {}
.cmp-search__clear-icon {}
.cmp-search__results {}
.cmp-search__item {}
.cmp-search__item--is-focused {}
.cmp-search__item-mark {}
.cmp-search__item-title {}