/*
Copyright 2022 Adobe
All Rights Reserved.

NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it.
*/
.cmp-search {}
.cmp-search__form {}
.cmp-search__field,
.cmp-search-bar__field {
  background-color: #F5F9FF80;
  @apply flex items-center border border-gray-400 rounded;
  @apply focus-within:border-gray-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-blue-400;
}

.cmp-search__icon,
.cmp-search-bar__icon, .cmp-search-bar__clear-icon {
  @apply relative top-0 left-0 mx-2;
  transform: scaleX(-1);
}

.cmp-search__input,
.cmp-search-bar__input {
  @apply flex-1 overflow-hidden text-gray-800 rounded;
  @apply focus:outline-none;

  &::placeholder {
    @apply italic text-gray-500;
  }
  padding: .5rem .75rem .5rem 0 !important;
}
.cmp-search-bar__input {
  background: transparent;
}
.cmp-search__loading-indicator {}
.cmp-search__clear {}
.cmp-search__clear-icon {}
.cmp-search__results {}
.cmp-search__item {}
.cmp-search__item--is-focused {}
.cmp-search__item-mark {}
.cmp-search__item-title {}