/*
Copyright 2022 Adobe
All Rights Reserved.

NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it.
*/
.aem-Grid > .navigation.aem-GridColumn.aem-GridColumn--default--3 {
  @apply w-full;
}
ul.cmp-navigation__group .cmp-navigation__item-has-children.cmp-navigation__item--active.cmp-nav-item-selected>a::before {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23ffffff" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
}
ul.cmp-navigation__group {

  .cmp-navigation__item-has-children{
    a::before{
      /* content:url(./resources/fonts/ch-right.svg); */
      /*content: "";*/
      /*width: 1rem;*/
      /*height: 1rem;*/
      /*background-size: contain;*/
      /*background-repeat: no-repeat;*/
      /*background-position: center;*/
      /*display: inline-block;*/
      /*margin-right: 0.25rem;*/

    }
    .cmp-navigation__item--inactive{
      a::before{
        content:"";
        background-image: none;
        width: 1rem;
      }
    }

  }
.cmp-navigation__item--active{
    a::before{
      /*content: "";*/
      /*width: 1rem;*/
      /*height: 1rem;*/
      /*background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23222222" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');*/
      /*background-size: contain;*/
      /*background-repeat: no-repeat;*/
      /*background-position: center;*/
      /*display: inline-block;*/
      /*margin-right: 0.25rem;*/
      /*margin-left: 0.25rem;*/
    }
    .cmp-navigation__item--inactive{
      a::before{
        content:"";
        background-image: none;
        width: 1rem;
      }
    }
  }

  .cmp-navigation__item-no-children{
    a::before{
      display: none;
      content:"";
      background-image: none;
      width: 1rem;
      margin-right:0.25rem;
      margin-left: 0.25rem;
    }
  }

  .cmp-nav-item-selected{
    /* a::before{
      content: "";
        background-image: none;
        width: 1rem;
        margin-right:0.25rem;
    } */
    & > .toc-list-item{
      @apply text-gray-800;
      background-color: #0054B6;
      border-radius: 0.25rem;
      color: #ffffff
    }

  }

  @apply p-0 m-0 mb-3 list-none;
  ul.cmp-navigation__group.hide-children {
    @apply hidden pl-4;
    padding-left: 1.25rem;
  }
  ul.cmp-navigation__group.show-children {
    @apply pl-4;
    padding-left: 1.25rem;
  }
}

.cmp-navigation__item{
  font-size: 1rem;
}
.cmp-navigation__item--level-0,
.cmp-navigation__item--level-1,
.cmp-navigation__item--level-2 {
  &.cmp-navigation__item--active {
    > span > a {
      /*@apply font-bold text-gray-800 underline;*/
      /*text-underline-offset: 3px;*/
    }

    > ul.cmp-navigation__group {
      @apply block;
    }
  }
}

.cmp-navigation__item--active{
  display: inline;
}


a.cmp-navigation__item-link {
  @apply px-0 py-1 font-normal;
  align-items: center;
  color : #222222;
}

.cmp-navigation__item--active.cmp-nav-item-selected > .toc-list-item a{
  @apply font-normal;
  align-items: center;
  color : #ffffff;
  margin-bottom: -0.125rem;
  padding : 0.25rem 0.25rem 0.25rem 0.25rem;
}


#topic-page {
  @apply relative;
  .main {
    /*width: 20.75rem;*/
    /*margin-left: 6.25rem;*/
  }

}
#topic-page #table-of-contents, #section-page #table-of-contents{
  margin-top:24px;
  width: 100%;
  padding-right: 3rem;
}

#section-page {

  @apply relative;
  .main {
    width: 19.25rem;
    margin-left: 6.25rem;
  }
}

.toc-toggle {
  @apply absolute top-0 left-0 z-10 block w-8 h-8 text-gray-600; 
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" /></svg><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" /></svg>');

  &.open {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>');
  }
}

@screen sm {
  .toc-toggle {
    @apply hidden;
  }
}

#table-of-contents {
  top: 1.5rem !important;
  position: sticky !important;
  @apply invisible h-0 pl-12 overflow-hidden transition-transform duration-300 transform scale-0;
  width: 16rem;

  &.open {
    @apply visible h-auto overflow-visible scale-100;
  }
}

@screen sm { 
  #table-of-contents {
    @apply visible h-auto pl-0 overflow-visible scale-100;
  }
}

.cmp-navigation__group .cmp-navigation__item .toc-list-item {
  display: flex;
  height: fit-content;
  align-items: center;
  margin: 0.5rem 0rem;
}

.cmp-navigation__group .cmp-navigation__item.cmp-navigation__item-has-children.cmp-navigation__item--inactive > .toc-list-item .item-child-toggle.show-children {
  content: "";
  width: 1rem;
  height: 1rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23222222" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  display: inline-block;
  margin-right: 0.25rem;
  flex-shrink: 0;
  margin-left: 0.25rem;
}
.cmp-navigation__group .cmp-navigation__item.cmp-navigation__item-has-children.cmp-navigation__item--inactive > .toc-list-item .item-child-toggle.hide-children {
  content: "";
  width: 1rem;
  height: 1rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23222222" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  transform: rotate(-90deg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  display: inline-block;
  margin-right: 0.25rem;
  flex-shrink: 0;
  margin-left: 0.25rem;
}
.cmp-navigation__group .cmp-navigation__item.cmp-navigation__item-has-children.cmp-navigation__item--active > .toc-list-item .item-child-toggle.show-children {
  content: "";
  width: 1rem;
  height: 1rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23222222" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  display: inline-block;
  margin-right: 0.25rem;
  flex-shrink: 0;
  margin-left: 0.25rem;
}
.cmp-navigation__group .cmp-navigation__item.cmp-navigation__item-has-children.cmp-navigation__item--active > .toc-list-item .item-child-toggle.hide-children {
  content: "";
  width: 1rem;
  height: 1rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23222222" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  display: inline-block;
  margin-right: 0.25rem;
  flex-shrink: 0;
  margin-left: 0.25rem;
  transform: rotate(-90deg);
}

.cmp-navigation__group .cmp-navigation__item.cmp-navigation__item-has-children.cmp-navigation__item--active.cmp-nav-item-selected > .toc-list-item .item-child-toggle.show-children {
  content: "";
  width: 1rem;
  height: 1rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23ffffff" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  display: inline-block;
  margin-right: 0.25rem;
  flex-shrink: 0;
  margin-left: 0.25rem;
}
.cmp-navigation__group .cmp-navigation__item.cmp-navigation__item-has-children.cmp-navigation__item--active.cmp-nav-item-selected > .toc-list-item .item-child-toggle.hide-children {
  content: "";
  width: 1rem;
  height: 1rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23ffffff" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  display: inline-block;
  margin-right: 0.25rem;
  flex-shrink: 0;
  margin-left: 0.25rem;
  transform: rotate(-90deg);
}

.cmp-navigation__group .cmp-navigation__item.cmp-navigation__item-no-children > .toc-list-item .item-child-toggle {
  content: "";
  width: 1rem;
  height: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  flex-shrink: 0;
  display: inline-block;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.cmp-navigation__group .cmp-navigation__item.cmp-navigation__item-no-children > .toc-list-item .item-child-toggle {
  display: none;
}

.cmp-navigation__group .cmp-navigation__item .toc-list-item:hover{
  @apply text-gray-800;
  background-color: #2C2C2C0F;
}
.cmp-navigation__group .cmp-navigation__item.cmp-navigation__item--active.cmp-nav-item-selected > .toc-list-item:hover{
  @apply text-gray-800;
  background-color: #0054B6;
}

.cmp-navigation__group a:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
}


.toc-container {
  display: flex;
  align-items: center;
}
.main-map-label {
  font-weight: 700 !important;
  font-size: 1rem;
}
.toc-container .toc-btn {
  width: 2.125rem;
  height: 1.125rem;
}
.toc-btn {
  width: 2rem;
}
.toc-container .main-map-label.collapse {
  display: none;
}
.cmp-navigation.collapse {
  display: none;
}
.cmp-navigation {
  padding-left: 1.625rem;
}

.cmp-navigation__item-link {
  width: calc(100% - 1.5rem);
}
.cmp-navigation__item.cmp-navigation__item-no-children a{
  padding-left: 0.5rem;

}
.toc-btn.expand {
  display: none;
}

.mini-toc-btn.expand{
  display: none;
}

#category-page .cmp-guidesnavigation__group .cmp-guidesnavigation__item .toc-list-item {
  display: flex;
  height: fit-content;
  min-height: 2rem;
  align-items: center;
  padding: 0.5rem 0;
  border-top: 1px solid #D5D5D5;
  margin: 0;
  color: #1532AD;
}

#category-page .cmp-guidesnavigation__group .cmp-guidesnavigation__item .toc-list-item:hover {
  background: #F5F9FF;
}

#category-page #table-of-contents .guides-navigation > .cmp-guidesnavigation__group {
  border: 1px solid #D5D5D5;
  border-radius: 16px;
  overflow: hidden;
}

#category-page #table-of-contents .guides-navigation > .cmp-guidesnavigation__group > li:first-child > .toc-list-item {
  border-top: none;
}

#category-page .cmp-guidesnavigation__group .cmp-guidesnavigation__item.cmp-guidesnavigation__item-has-children.cmp-guidesnavigation__item--active>.toc-list-item .item-child-toggle.show-children {
  content: "";
  width: 1rem;
  height: 1rem;
background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%2523222222%22%20class%3D%22bibi-chevron-down%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20d%3D%22M1.646%200.646a.5.5%200%200%201%20.708%200L8%206.293l5.646-5.647a.5.5%200%200%201%20.708.708l-6%206a.5.5%200%200%201-.708%200l-6-6a.5.5%200%200%201%200-.708z%22%2F%3E%3C%2Fsvg%3E');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  display: inline-block;
  flex-shrink: 0;
  margin-right: .25rem;
  margin-left: .25rem
}

#category-page .cmp-guidesnavigation__group .cmp-guidesnavigation__item.cmp-guidesnavigation__item-has-children.cmp-guidesnavigation__item--inactive>.toc-list-item .item-child-toggle.show-children {
    content: "";
    width: 1rem;
    height: 1rem;
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%3E%3Cmask%20id%3D%22mask0_348_2579%22%20style%3D%22mask-type%3Aalpha%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2218%22%20height%3D%2218%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M12.2933%206.29299L9.00032%209.58592L5.70732%206.29299C5.51923%206.10828%205.26581%206.00532%205.0022%206.00651C4.73858%206.00771%204.4861%206.11296%204.2997%206.29936C4.11329%206.48577%204.00804%206.73825%204.00685%207.00186C4.00565%207.26548%204.10861%207.5189%204.29332%207.70699L8.29332%2011.707C8.48074%2011.8945%208.73497%2011.9999%209.00009%2012C9.26521%2012%209.5195%2011.8948%209.70701%2011.7074L13.7074%207.70699C13.8929%207.51907%2013.9966%207.26537%2013.9958%207.00127C13.995%206.73717%2013.8897%206.48413%2013.7029%206.29739C13.5162%206.11065%2013.2631%206.00538%2012.999%206.00455C12.7349%206.00373%2012.4812%206.10742%2012.2933%206.29299Z%22%20fill%3D%22%23222222%22%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23mask0_348_2579)%22%3E%3Crect%20width%3D%2218%22%20height%3D%2218%22%20fill%3D%22%23222222%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    flex-shrink: 0;
    margin-right: .25rem;
    margin-left: .25rem
}

#category-page .cmp-guidesnavigation__group .cmp-guidesnavigation__item.cmp-guidesnavigation__item-has-children.cmp-guidesnavigation__item--inactive>.toc-list-item .item-child-toggle.hide-children {
    content: "";
    width: 1rem;
    height: 1rem;
    
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%20fill%3D%22none%22%3E%3Cmask%20id%3D%22mask0_348_9111%22%20style%3D%22mask-type%3Aalpha%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2218%22%20height%3D%2218%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M12%209C12%209.1309%2011.9742%209.26053%2011.924%209.38142C11.8738%209.50232%2011.8002%209.61212%2011.7075%209.7045L7.71596%2013.6945C7.62768%2013.7993%207.5188%2013.8848%207.39608%2013.9458C7.27336%2014.0068%207.13942%2014.0419%207.00258%2014.0489C6.86573%2014.0559%206.7289%2014.0348%206.60057%2013.9867C6.47224%2013.9387%206.35515%2013.8648%206.25658%2013.7696C6.158%2013.6744%206.08004%2013.56%206.02752%2013.4335C5.97501%2013.3069%205.94907%2013.1709%205.95131%2013.0339C5.95354%2012.8969%205.98392%2012.7618%206.04054%2012.637C6.09716%2012.5122%206.17882%2012.4004%206.28046%2012.3085L6.30496%2012.284L9.59046%209L6.30446%205.715C6.13453%205.52692%206.04237%205.28132%206.04662%205.02788C6.05086%204.77443%206.15119%204.53206%206.32732%204.34977C6.50345%204.16748%206.74223%204.05888%206.99538%204.04592C7.24853%204.03297%207.49715%204.11664%207.69096%204.28L7.71546%204.3045L11.707%208.2945C11.7999%208.38696%2011.8737%208.4969%2011.9239%208.61798C11.9742%208.73906%2012.0001%208.86889%2012%209Z%22%20fill%3D%22%23222222%22%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23mask0_348_9111)%22%3E%3Crect%20width%3D%2218%22%20height%3D%2218%22%20fill%3D%22%23222222%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    flex-shrink: 0;
    margin-right: .25rem;
    margin-left: .25rem;
}

#category-page .injected-toc-wrapper {
  width: calc(100% - 20rem) !important;
  margin: 0rem 10rem 2rem 10rem !important;
}

#table-of-contents-trigger , #category-page .table-of-contents-trigger {
  display: none !important;
}

@media (max-width: 768px) {
  #section-page-content {
    width: 100%;
    padding: 0 1rem;
  }
  #section-page-content   .cmp-breadcrumb {
    padding-left: 0;
  }
  #section-page .injected-toc-wrapper {
    min-height: unset !important;
  }

  #topic-page #table-of-contents, #section-page #table-of-contents {
    padding-right: 0;
  }

  #section-page .injected-toc-wrapper #table-of-contents{
    visibility: visible;
    height: auto;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    overflow: visible;
    padding-left: 0;
    margin-top: 0rem;
  }

  #section-page .injected-toc-wrapper #table-of-contents .guides-navigation{
    display: none;
  }

  #section-page .injected-toc-wrapper #table-of-contents[data-expanded="true"] .guides-navigation{
    display: block;
    min-height: 100vh;
  }

  .toc-trigger-button {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }

  #table-of-contents-trigger {
    display: flex !important;
    height: 3rem;
    align-items: center;
    padding-left: 1.3125rem;
    border-bottom: 1px solid var(--Palette-gray-200, #E1E1E1);
  }

  #category-page #table-of-contents-trigger {
    display: none !important;
  }
  
  #category-page .injected-toc-wrapper {
    width: calc(100% - 4rem) !important;
    margin: 0rem 2rem 2rem 2rem !important;
  }

  #category-page #table-of-contents {
    visibility: visible;
    height: auto;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    overflow: visible;
    padding-left: 0;
  }

  #topic-page   .cmp-breadcrumb {
    padding-left: 0;
  }

  #topic-page .injected-toc-wrapper {
    min-height: unset !important;
  }

  #topic-page .injected-center-wrapper {
    padding: 0 1rem;
  }

  #topic-page .injected-toc-wrapper #table-of-contents{
    visibility: visible;
    height: auto;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    overflow: visible;
    padding-left: 0;
    margin-top: 0rem;
    width: 100%;
  }

  #topic-page .injected-toc-wrapper #table-of-contents .guides-navigation{
    display: none;
  }

  #topic-page .injected-toc-wrapper #table-of-contents[data-expanded="true"] .guides-navigation{
    display: block;
    min-height: 100vh;
  }

  #topic-page .injected-toc-wrapper #table-of-contents[data-expanded="true"] .toc-trigger-button{
    background-color: #1532AD;
  }

  @media (max-width: 768px) {
    #topic-page #table-of-contents[data-expanded="true"] .cmp-guides-navigation{
      padding: 0 1rem;
    }
  }
}