/*
Copyright 2022 Adobe
All Rights Reserved.

NOTICE: Adobe permits you to use, modify, and distribute this file in
accordance with the terms of the Adobe license agreement accompanying
it.
*/
@screen sm {
  #topic-page .cmp-breadcrumb {
    @apply pl-0;
  }
}

#topic-page .cmp-breadcrumb__list {
  @apply p-0 m-0 overflow-x-scroll text-base whitespace-nowrap;
  @apply sm:whitespace-normal sm:overflow-x-auto sm:pr-0;
  text-decoration: none;
  white-space: normal;
  overflow-x: auto;
}

#topic-page .cmp-breadcrumb__item {
  @apply inline-block px-1 py-2;
  font-family: var(--Font-adobe-clean, "Adobe Clean");
  font-size: 0.75rem;
  font-weight: 400;
  color: #707070 !important;
  &:first-child {
    @apply pl-0;
  }

  a {
    display: flex;
    align-items: center;
    @apply focus:ring-0 focus:ring-transparent;
  }
   #topic-page .cmp-breadcrumb__item-link {
     color: #707070;
     font-family: "Adobe Clean";
     font-size: 16px;
     font-weight: 400;
     line-height: 21.6px;
     text-align: left;
   }
}

#topic-page .cmp-breadcrumb__item--active {
  color: #2c2c2c !important;
}


#topic-page .cmp-breadcrumb__item-link::after {
  content: "/";
  margin-left: 10px;
}